{% load static %}
<!doctype html>
<html lang="en">
  <head>
  	<title>Código QR</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href='{% static "css/style.css" %}'>

	</head>
	<body>
	<section class="ftco-section">
		<div class="container">
			
			<div class="row justify-content-center">
				<div class="col-md-7 col-lg-5">
					<div class="wrap">
						<img src="{% static 'images/banner.png' %}" alt="">
						<div class="login-wrap p-4 p-md-5">
							<div class="d-grid gap-2 d-md-flex justify-content-md-end">
								<a href="{% url 'interfaz' %}">
									<button class="btn btn-primary me-md-2" type="button">Volver</button>
								</a>
							  </div>
			      	<div class="d-flex">

			      		<div class="w-100">
			      			<h3 class="mb-4">Código QR</h3>
			      		</div>
							
			      	</div>
							<form action="#" class="signin-form">
			      		<div class="form-group mt-3">
                            <div class="img" style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/d/d7/Commons_QR_code.png);"></div>
			      		</div>
		            <div class="form-group">
		    
		            </div>
		            
		            
		          </form>
		         
		        </div>
		      </div>
				</div>
			</div>
		</div>
	</section>

	<script src='{% static "js/jquery.min.js" %}'></script>
    <script src='{% static "js/popper.js" %}'></script>
    <script src='{% static "js/bootstrap.min.js" %}'></script>
    <script src='{% static "js/main.js" %}'></script>

	</body>
</html>